<div class="card preview" style="width: 38rem;">
    <div class="card-body">
        <h2 class="card-title position-title preview">{{ position_title }}Entry Level Front End Developer</h2>
        <h4 class="card-subtitle mb-2">{{ company }}Job Stream</h4>
        <h5 class="card-subtitle mb-2 text-muted">{{ location }}Houston, TX</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ remote }}Remote</h6>
        <p class="card-text">{{ summary }}I am looking to fix my basic site by making it not ugly!</p>
    </div>
</div>