<div class="card extended" style="width: 72rem;">
    <div class="card-body">
        <h2 class="d-inline-block card-title position-title preview"><u>{{ position_title }}Entry Level Front End Developer</u></h2>
        <p class="d-inline-block float-right">img</p>
        <h4 class="card-subtitle mb-2">{{ company }}Job Stream</h4>
        <h5 class="card-subtitle mb-2 text-muted">{{ location }}Houston, TX</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ remote }}Remote</h6>
        <p class="card-text">{{ summary }}This is a summary of a potential job listing that doesn't actually exist. The reason it doesn't actually exist is because this is not a real website yet!</p>
        <h5 class="card-subtitle mb-2"><u>Description:</u></h5>
        <p class="card-text">{{ description }}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h5 class="card-subtitle mb-2"><u>Requirements:</u></h5>
        <p class="card-text">{{ requirements }}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h5 class="card-subtitle mb-2"><u>Benefits:</u></h5>
        <p class="card-text">{{ benefits }}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <input class="d-inline-block btn btn-primary" type="submit" value="Apply">
        <form class="d-inline-block float-right" action="report/" method="get">
            <input class="btn btn-primary" id="report_button" name="report" type="submit" value="Report">
        </form>
    </div>
</div>