<div class="card">
    <div class="card-body">
        <form class="row align-items-center">
            <form action="search" method="GET">
                <div class="col-sm-2">
                    {{ keyword_form }}
                </div>
                <div class="col-sm-2">
                    {{ location_form }}
                </div>
                <div class="col-sm-2">
                    <input class="btn btn-primary" type="submit" value="Search"><!--TODO formaction='search'-->
                </div>
            </form>
        </form>
    </div>
</div>